<template id="sailing-boat-template">
  <div class="col-6 col-lg-3" :id="localId" @vue:mounted="mounted">
    <div
      class="block block-content block-content-full block-rounded-extra block-link-pop border-top border-music border-4x text-center"
    >
      Hull
      <div id="hull-grid"></div>
    </div>
    <div
      class="block block-content block-content-full block-rounded-extra block-link-pop border-top border-music border-4x text-center"
    >
      Deck Items
      <div id="deck-grid"></div>
    </div>
    <div
      class="block block-content block-content-full block-rounded-extra block-link-pop border-top border-music border-4x text-center"
    >
      Rudder
      <div id="rudder-grid"></div>
    </div>
    <div
      class="block block-content block-content-full block-rounded-extra block-link-pop border-top border-music border-4x text-center"
    >
      Ram
      <div id="ram-grid"></div>
    </div>
  </div>
</template>
