<template id="sailing-port-template">
  <div class="col-12 col-md-6 col-xl-4 col-xxl-3" :id="port.localID" @vue:mounted="mounted">
    <div
      class="block block-content block-content-full block-rounded block-link-pop border-top border-sailing border-4x text-center"
    >
      <div class="block-content block-content-full bg-light pb-0" v-show="isLocked">
        <div class="font-size-sm font-w600 text-center text-muted">
          <span><lang-string lang-id="MENU_TEXT_LOCKED"></lang-string></span><br />
          <img class="mining-ore-img m-3" :src="lockedImgSrc" /><br />
          <span class="badge badge-pill w-100 mb-1" :class="{ 'badge-success': hasLevel, 'badge-danger': !hasLevel }">Level {{ port.level }}</span>
        </div>
      </div>
      <div class="row gutters-tiny justify-content-center" v-show="!isLocked">
        <div class="align-items-center d-flex">
          <div class="mr-3">
            <img class="shop-img" :src="port.media"/>
          </div>
          <div class="p-2 font-w600">
            {{ port.name }}
          </div>
        </div>
        <div
          class="col-12 row mt-3 mb-3 justify-content-center gutters-tiny text-center icon-size-48"
          id="grants-container"
        >
          <xp-icon id="sailing-xp"></xp-icon>
          <mastery-xp-icon id="sailing-mastery-xp"></mastery-xp-icon>
          <mastery-pool-icon id="sailing-pool-xp"></mastery-pool-icon>
          <interval-icon id="sailing-interval"></interval-icon>
        </div>
        <div class="col-12 mt-2 d-flex gap-2">
          <div id="dropdown" class="flex-grow-1"></div>
          <button class="btn btn-primary" @click="viewLoot()"><img class="skill-icon-sm m-0" :src="lootImg"/></button>
        </div>
        <div class="col-12 mt-2">
          <!-- <button class="btn btn-primary btn-block btn-lg" @click="setSail()" v-if="readyToSail">
            Set Sail
          </button>
          <button class="btn btn-info btn-block btn-lg" disabled v-if="onTrip">
            Sailing the high seas...
          </button>
          <button class="btn btn-success btn-block btn-lg" @click="collectLoot()" v-if="hasReturned">
            Collect Loot
          </button> -->
        </div>
        <div class="col-12">
          <mastery-display class="mastery-6" data-skill-id="sailing:Sailing" :data-action-id="port.id"></mastery-display>
        </div>
      </div>
    </div>
  </div>
</template>
