<template id="sailing-ship-template">
  <div class="col-6 col-lg-3" :id="ship.localID" @vue:mounted="mounted">
    <div
      class="block block-rounded block-link-pop border-top border-danger border-4x justify-vertical-center"
      v-show="isLocked"
    >
      <div class="block-content block-content-full bg-light pb-0">
        <div class="font-size-sm font-w600 text-center text-muted">
          <span><lang-string lang-id="MENU_TEXT_LOCKED"></lang-string></span><br />
          <img class="mining-ore-img m-3" :src="lockedImgSrc" /><br />
          <span class="badge badge-danger badge-pill w-100 mb-1">Level {{ ship.action.level }}</span>
          <!-- <span class="badge badge-danger badge-pill w-100 mb-1" id="next-abyssal-level">Abyssal Level 69</span> -->
        </div>
      </div>
    </div>
    <div
      class="block block-content block-content-full block-rounded block-link-pop border-top border-sailing border-4x text-center"
      v-show="!isLocked"
    >
      <div class="row gutters-tiny">
        <div class="col-12 p-2 font-w600">
          {{ ship.name }}
        </div>
        <img class="bank-img-detail" :src="ship.media"/>
        <!-- <div class="col-6">
          <div class="p-2">
            Hull
          </div>
          <div id="hull-grid"></div>
        </div>
        <div class="col-6">
          <div class="p-2">
            Deck Items
          </div>
          <div id="deck-grid"></div>
        </div>
        <div class="col-6">
          <div class="p-2">
            Rudder
          </div>
          <div id="rudder-grid"></div>
        </div>
        <div class="col-6">
          <div class="p-2">
            Ram
          </div>
          <div id="ram-grid"></div>
        </div> -->
        <div
          class="col-12 row mt-3 mb-3 justify-content-center gutters-tiny text-center icon-size-48"
          id="grants-container"
        >
          <xp-icon id="sailing-xp"></xp-icon>
          <mastery-xp-icon id="sailing-mastery-xp"></mastery-xp-icon>
          <mastery-pool-icon id="sailing-pool-xp"></mastery-pool-icon>
          <interval-icon id="sailing-interval"></interval-icon>
        </div>
        <div class="col-12 mt-2 d-flex gap-2">
          <div id="dropdown" class="flex-grow-1"></div>
          <button class="btn btn-primary" @click="viewLoot()"><img class="skill-icon-sm m-0" :src="lootImg"/></button>
        </div>
        <div class="col-12 mt-2">
          <button class="btn btn-primary btn-block btn-lg" @click="setSail()" v-if="readyToSail">
            Set Sail
          </button>
          <button class="btn btn-info btn-block btn-lg" disabled v-if="onTrip">
            Sailing the high seas...
          </button>
          <button class="btn btn-success btn-block btn-lg" @click="collectLoot()" v-if="hasReturned">
            Collect Loot
          </button>
        </div>
        <div class="col-12 p-2">
            <progress-bar class="mt-3 progress-height-5" id="sailing-progress-bar"></progress-bar>
            <span>{{ returnTimer }}</span>
        </div>
        <div class="col-12">
          <mastery-display class="mastery-6" data-skill-id="sailing:Sailing" :data-action-id="ship.id"></mastery-display>
        </div>
      </div>
    </div>
  </div>
</template>
